<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<logger name="org.springframework.web" level="INFO" />

	<property name="LOG_HOME" value="logs" />

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<layout>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss}  %-5level   %logger{10} - %msg%n </Pattern>
		</layout>
	</appender>
	
	<appender name="fileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/max2_challeng.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss}  %-5level  %logger{10} - %msg%n
			</Pattern>
		</encoder>
	</appender>

	<logger name="com.max2" level="info" additivity="false">
		<appender-ref ref="fileAppender" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<root>
		<appender-ref ref="fileAppender" />
		<appender-ref ref="consoleAppender" />
	</root>

</configuration>